#imCel0_00 {position: absolute; top: 0px; left: 10px; height: 32px; width: 964px; }
#imObj0_00 .ff0 {font-family: Times New Roman; }
#imObj0_00 .ff1 {font-family: Tahoma; }
#imObj0_00 .ff2 {font-family: Symbol; }
#imObj0_00 .ff3 {font-family: Tahoma; }
#imObj0_00 .fc1 {color: #FFFFFF; }
#imObj0_00 .fc2 {color: #000000; }
#imObj0_00 .fs18 {font-size: 24px ; vertical-align: baseline; line-height: 27px ; }
#imObj0_00 .fs10 {font-size: 13px ; vertical-align: baseline; line-height: 16px ; }
#imObj0_00 {padding: 0px; }
#imCel0_00_Cont {text-align: center; height: 32px; overflow: hidden; }
#imCel4_00 {position: absolute; top: 42px; left: 10px; height: 634px; width: 964px; }
#imObj4_00 .ff0 {font-family: Times New Roman; }
#imObj4_00 .ff1 {font-family: Tahoma; }
#imObj4_00 .ff2 {font-family: Tahoma; }
#imObj4_00 .ff3 {font-family: Tahoma; }
#imObj4_00 .fc1 {color: #FFFFFF; }
#imObj4_00 .fc2 {color: #000000; }
#imObj4_00 .fc3 {color: #FF0000; }
#imObj4_00 .fc4 {color: #00FF00; }
#imObj4_00 .fc5 {color: #0000FF; }
#imObj4_00 .fc6 {color: #FFFF00; }
#imObj4_00 .fc7 {color: #C0FFC0; }
#imObj4_00 .fs12 {font-size: 16px ; vertical-align: baseline; line-height: 25px ; }
#imObj4_00 .fs10 {font-size: 13px ; vertical-align: baseline; line-height: 22px ; }
#imObj4_00 .cbkc6 {background-color: #FFFF00}
#imObj4_00 .cbct0 {border-top: 1px solid #000000}
#imObj4_00 .cbcl0 {border-left: 1px solid #000000}
#imObj4_00 .cbkc7 {background-color: #C0FFC0}
#imObj4_00 .cbcr0 {border-right: 1px solid #000000}
#imObj4_00 .cbcb0 {border-bottom: 1px solid #000000}
#imObj4_00 table {border-collapse: collapse; }
#imObj4_00 {padding: 0px; }
#imCel4_00_Cont {text-align: center; height: 634px; overflow: hidden; }
#imCel4_00 table {margin: 0 auto; }
#imPage {position: relative; height: 686px; }

